<!DOCTYPE html>
<html lang="en" dir="ltf">

    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>
            Pool ✈️ | confirm
            </title>
        </head>

    <body>

        <main>
            <div class="header">
                <a href="./about.html" class="about-reference">Pool ✈️</a>
            </div>
            
            <h2 class="title" style="margin: 20px;">Confirmed! <br>
                A match is coming soon!</h2>

            <div id="confirmation-message">
            <p>
                Leaving Max P<br>
                Going to Midway<br>
                12:30pm on August 12<br><br>
                *if you have a new account, please confirm the email verification that has been sent.<br><br>
                <b>More information about how this works <a href="./index.html">here.</a></b>
            </p>
            </div>

        </main>

        <footer>
            <hr>
        <nav>
            <a href="./index.html">how / what</a> <br>
            <a href="./feedback.html">feedback</a> <br>
            <a href="./about.html">about us</a>
            </nav>
        </footer>

    </body>
    </html>