<!DOCTYPE html>
<html lang="en" dir="ltf">

    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="icon" type="image/x-icon" href="./icon.png">
        <title>
            Pool | plan
            </title>
    </head>

    <main>
    <body>

        <svg preserveAspectRatio="xMidYMid slice" viewBox="10 10 80 80">
            <defs>
                <style>
                    @keyframes rotate {
                             0% {
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                    .out-top {
                        animation: rotate 20s linear infinite;
                        transform-origin: 13px 25px;
                    }
                    .in-top {
                        animation: rotate 10s linear infinite;
                        transform-origin: 13px 25px;
                    }
                    .out-bottom {
                        animation: rotate 25s linear infinite;
                        transform-origin: 84px 93px;
                    }
                    .in-bottom {
                        animation: rotate 15s linear infinite;
                        transform-origin: 84px 93px;
                    }
                </style>
            </defs>
            <path fill="#90E0EF" class="out-top" d="M37-5C25.1-14.7,5.7-19.1-9.2-10-28.5,1.8-32.7,31.1-19.8,49c15.5,21.5,52.6,22,67.2,2.3C59.4,35,53.7,8.5,37-5Z"/>
            <path fill="#00B4D8" class="in-top" d="M20.6,4.1C11.6,1.5-1.9,2.5-8,11.2-16.3,23.1-8.2,45.6,7.4,50S42.1,38.9,41,24.5C40.2,14.1,29.4,6.6,20.6,4.1Z"/>
            <path fill="#90E0EF" class="out-bottom" d="M105.9,48.6c-12.4-8.2-29.3-4.8-39.4.8-23.4,12.8-37.7,51.9-19.1,74.1s63.9,15.3,76-5.6c7.6-13.3,1.8-31.1-2.3-43.8C117.6,63.3,114.7,54.3,105.9,48.6Z"/>
            <path fill="#0077B6" class="in-bottom" d="M102,67.1c-9.6-6.1-22-3.1-29.5,2-15.4,10.7-19.6,37.5-7.6,47.8s35.9,3.9,44.5-12.5C115.5,92.6,113.9,74.6,102,67.1Z"/>
        </svg>

        <div class="pool-title">
            <h1>pool</h1>
        </div>


        <section>
            <div class="content" id="plan-form">
                
                <form action="./confirm.html" method="POST">
                    <h2 class="title">enter plans</h2>
            
                    <div id="direction-selection">
                        <select name="direction" id="direction" class="custom-select" onchange="update_plan_options()">
                            <option value="" disabled selected>select direction</option>
                            <option value="toairport">school to airport</option>
                            <option value="toschool">airport to school</option>
                        </select>
                    </div>

                    <div id="dorm-selection" style="display: none;">
                        <select name="dormID" id="dormID" class="custom-select" >
                            <option value="" disabled selected>select dorm</option>
                            <option value="North">North</option>
                            <option value="Max P">Max P</option>
                            <option value="Snell-Hitchcock">Snell-Hitchcock</option>
                            <option value="South">South</option>
                            <option value="Woodlawn">Woodlawn</option>
                            <option value="iHouse">iHouse</option>
                        </select>
                    </div>
            
                    <div id="airport-selection" style="display: none;">
                        <select name="airportID" id="airportID" class="custom-select" >
                            <option value="" disabled selected>select airport</option>
                            <option value="Midway">Midway</option>
                            <option value="O'Hare">O'Hare</option>
                        </select>
                    </div>
            
                    <div id="dorm-time-selection" style="display: none;">
                        <label for="dormTime" class="pre-prompt">Leaving the <b>dorm</b> at this time:</label><br>
                        <select name="dormTime" id="from_dorm_time" class="custom-select" >
                            <option value="" disabled selected>select time</option>
                            <option value="00:00">12:00 AM</option>
                            <option value="00:30">12:30 AM</option>
                            <option value="01:00">01:00 AM</option>
                            <option value="01:30">01:30 AM</option>
                            <option value="02:00">02:00 AM</option>
                            <option value="02:30">02:30 AM</option>
                            <option value="03:00">03:00 AM</option>
                            <option value="03:30">03:30 AM</option>
                            <option value="04:00">04:00 AM</option>
                            <option value="04:30">04:30 AM</option>
                            <option value="05:00">05:00 AM</option>
                            <option value="05:30">05:30 AM</option>
                            <option value="06:00">06:00 AM</option>
                            <option value="06:30">06:30 AM</option>
                            <option value="07:00">07:00 AM</option>
                            <option value="07:30">07:30 AM</option>
                            <option value="08:00">08:00 AM</option>
                            <option value="08:30">08:30 AM</option>
                            <option value="09:00">09:00 AM</option>
                            <option value="09:30">09:30 AM</option>
                            <option value="10:00">10:00 AM</option>
                            <option value="10:30">10:30 AM</option>
                            <option value="11:00">11:00 AM</option>
                            <option value="11:30">11:30 AM</option>
                            <option value="12:00">12:00 PM</option>
                            <option value="12:30">12:30 PM</option>
                            <option value="13:00">01:00 PM</option>
                            <option value="13:30">01:30 PM</option>
                            <option value="14:00">02:00 PM</option>
                            <option value="14:30">02:30 PM</option>
                            <option value="15:00">03:00 PM</option>
                            <option value="15:30">03:30 PM</option>
                            <option value="16:00">04:00 PM</option>
                            <option value="16:30">04:30 PM</option>
                            <option value="17:00">05:00 PM</option>
                            <option value="17:30">05:30 PM</option>
                            <option value="18:00">06:00 PM</option>
                            <option value="18:30">06:30 PM</option>
                            <option value="19:00">07:00 PM</option>
                            <option value="19:30">07:30 PM</option>
                            <option value="20:00">08:00 PM</option>
                            <option value="20:30">08:30 PM</option>
                            <option value="21:00">09:00 PM</option>
                            <option value="21:30">09:30 PM</option>
                            <option value="22:00">10:00 PM</option>
                            <option value="22:30">10:30 PM</option>
                            <option value="23:00">11:00 PM</option>
                            <option value="23:30">11:30 PM</option>
                        </select>
                    </div>
            
                    <div id="dorm-date-selection" style="display: none;">
                        <label for="dormTime" class="pre-prompt">On this date:</label><br>
                        <input type="date" id="dormTime" name="dormTime" class="custom-select" >
                    </div>

                    <div id="flight-number-input" style="display: none;">
                        <input type="text" id="flight_number" class="custom-input" name="flight_number" placeholder="flight number" >
                    </div>

                    <div id="flight-date-selection" style="display: none;">
                        <label for="flight_date" class="pre-prompt">On this date:</label><br>
                        <input type="date" id="flight_date" name="flight_date" class="custom-select">
                    </div>
                    
            
                    <button type="submit" class="submit-button">Confirm</button>
                    
                </form>

            <script src="./js/plan.js"></script>

            <br><br><a href="#how-it-works" class="scroll-link" style="bottom: 0; left: 0; transform: none; text-align: center; position:static">How it works<br>⌄</a>

            </div>

        </section>
            
        <section>
            <div class="content" id="how-it-works">

            <div class="box">
                <h2>How it works</h2>
                    <ol>
                        <li>Enter your departure schedule</li>
                        <li>Get paired with your <em>PoolPal</em> via SMS (for higher match rate, plan early)</li>
                        <li>Finalize details with your <em>PoolPal</em> and order and split the price of a car together</li>
                        <li>Save money on your trip to the airport. safe travels!</li>
                    </ol>
                
                </div>

            <div class="box" > 
                    <p style="font-weight: 600">
                    *Pool does not order your ride-share. we provide the contact information of 
                        someone who shares your itenerary for you to finalize ride details with. 
                    </p>
                </div>
            
            <!-- <div id="onboard-buttons" style="margin-right: 10px; margin-top: 13px">
                <a href="./signup.html" class="small-button" id="signup-button">sign up</a>
            </div> -->

                <a href="#about-us" class="scroll-link" style="bottom: -110px">Our story<br>⌄</a>

            </div>

        </section>
            
        <section>
        <div class="content" id="about-us">

            <a href="#statement" class="scroll-link" style="top: -170px">^<br>Sign up</a>
            
            <div class="box" id="about-us-content">
                <p>
                    Save your money for the things you love. <br><br>
                    
                    <a href="./signup.html">sign up</a> • <a href="./index.html">how / what</a><br>
                    <a href="./feedback.html">feedback</a> • <a href="./about.html">about us</a> <br><br>                   

                by Diego Scanlon and Pranav Padmanahvan<br>
                    @ UChicago in 2023</p>
            </div>
        </div>
        </section>
        
    </body>
</main>

</html>
    