*{
    box-sizing: border-box;
    
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

main {
    margin: 4% 7% 0% 7%;
}

select {
    padding: 0;
}

footer {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: auto;
    text-align: left;
}

form {
    text-align: center;
    line-height: 30px;
    overflow: scroll;
}

p {
    padding: 10px 0px;
}

.title {
    color: #000;
    font-family: 'Gill Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header {
    color: #000;
    font-size: 36px;
    font-family: 'Gill Sans';
}

.custom-select {
    width: 225px; /* Set the width to the same value for all elements */
    height: 40px; /* Set the height to the same value for all elements */
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #000;
    background: #FFF;
    font-family: 'Gill Sans';
    font-size: 18px;
    color: #000000;
    text-align: center;
}

.custom-input,
input[type="text"],
input[type="email"],
input[type="tel"]{
    width: 225px; /* Set the width to the same value for all elements */
    height: 40px; /* Set the height to the same value for all elements */
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #000;
    background: #FFF;
    font-family: 'Gill Sans';
    font-size: 18px;
    color: #000000;
    text-align: center;
}

.submit-button {
    border-radius: 10px;
    border: 2px solid #000;
    background: #0080FE;

    width: 225px;
    height: 40px; 
    cursor: pointer;

    color: #FFF;
    text-align: center;
    font-family: 'Gill Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.submit-button:hover{
    background-color: #0080FE;
    cursor: pointer;
}

.pre-prompt {
    font-family: 'Gill Sans';
    font-size: 16px;
    color: #000000;
}

.created {
    padding: 0px;
    text-align: right
}

.about-reference {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:-webkit-any-link {
    color: none;
    cursor: pointer;
    text-decoration: none;
}

#account_options {
    text-align: center;
    font-size: 24px;
}

.small-button-white {
    font-family: 'Gill Sans';
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #000;
    padding: 5px 10px;
    text-decoration: none;
    background-color: white;
    color: #3491FF;
    margin-left: 10px;
}

.small-button-blue {
    font-family: 'Gill Sans';
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #000;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #0080FE;
    color: white;
    margin-left: 10px;
}

#cancellation-form button.submit-button, #feedback-form button.submit-button, #new-match-form button.submit-button, #report-form button.submit-button {
    margin: 10px 0px 20px;
    background-color: red;
    /* Other button styles */
}

#new-match-form .pre-prompt, #cancellation-form .pre-prompt, #report-form .pre-prompt {
    margin: 0px;
    padding-bottom: 10px;
}

.banner {
    background-color: #0080FE; /* Background color for the banner */
    color: white; /* Text color for the banner */
    text-align: center; /* Center-align text within the banner */
    font-size: 20px;
}