*{
    box-sizing: border-box; 
}

body {
    font-family: 'Gill Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* background: rgb(0,128,254);
    background: radial-gradient(circle, rgba(0,128,254,1) 0%, rgba(2,0,74,1) 99%);
    */
    color: white;
    /* background: rgb(0,128,254);
    background: radial-gradient(circle, rgba(2,0,74,1) 0%, rgba(0,128,254,1) 82%, rgba(244,94,255,1) 100%);
        */
    /* 
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,128,254,1) 69%, rgba(0,128,254,1) 100%);
        */
    background: black;
    background-image: url("./png/tube.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: right;
    background-position-y: 70%;
    background-size: 60%;
}

main {
    margin: 4% 12% 0% 9%;
}

select {
    padding: 0;
}

footer {
    margin-top: auto;
    text-align: left;
    margin: auto 7% 4% 7%;
    background-color: rgba(0, 128, 254, 0.0);
}

footer nav a{
    color: white;
}

.signin-signup{
    margin-top: 10px;
}

footer hr{
    color: white;
}

form {
    text-align: center;
    line-height: 30px;
    overflow: scroll;
}

p {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 15px;
}

span {
    background-color: rgba(0, 0, 0, 0.6);
    }

.title {
    color: #ffffff;
    font-family: 'Gill Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header {
    color: #ffffff;
    font-size: 64px;
    font-family: 'Gill Sans' sans-serif;
}

.custom-select {
    width: 225px; /* Set the width to the same value for all elements */
    height: 40px; /* Set the height to the same value for all elements */
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #000;
    background: #FFF;
    font-family: 'Gill Sans';
    font-size: 18px;
    color: #000000;
    text-align: center;
}

.custom-input,
input[type="text"],
input[type="email"],
input[type="tel"]{
    width: 225px; /* Set the width to the same value for all elements */
    height: 40px; /* Set the height to the same value for all elements */
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #000;
    background: #FFF;
    font-family: 'Gill Sans';
    font-size: 18px;
    color: #000000;
    text-align: center;
}

.submit-button {
    border-radius: 10px;
    border: 2px solid white;
    background: rgb(2,74,145);
    background: linear-gradient(192deg, rgb(54, 155, 255,1) 0%, rgba(243,80,255,1) 100%);

    width: 225px;
    height: 40px; 
    cursor: pointer;

    color: #FFF;
    text-align: center;
    font-family: 'Gill Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.submit-button:hover{
    background-color: #0080FE;
    cursor: pointer;
}

.pre-prompt {
    font-family: 'Gill Sans';
    font-size: 16px;
    color: #ffffff;
}

.created {
    padding: 0px;
    text-align: right
}

.about-reference {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

#account_options {
    text-align: center;
    font-size: 24px;
}

.small-button-white {
    font-family: 'Gill Sans';
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid rgb(8, 36, 76);
    padding: 5px 10px;
    text-decoration: none;
    background-color: rgb(8,36,76);
    color: white;
    margin-left: 10px;
}

.small-button-blue {
    font-family: 'Gill Sans';
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px 10px;
    text-decoration: none;
    background: rgb(0,128,254);
    background: linear-gradient(200deg, rgba(54, 155, 255,1) 0%, rgba(244,94,255,1) 100%);
    color: white;
    margin-left: 10px;
}

#cancellation-form button.submit-button, #feedback-form button.submit-button, #new-match-form button.submit-button, #report-form button.submit-button {
    margin: 10px 0px 20px;
    background-color: red;
    /* Other button styles */
}

#new-match-form .pre-prompt, #cancellation-form .pre-prompt, #report-form .pre-prompt {
    margin: 0px;
    padding-bottom: 10px;
}

.banner p {
    background-color: rgba(0, 128, 254, 0.3);
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: white; /* Text color for the banner */
    text-align: center; /* Center-align text within the banner */

    font-size: 18px;
    margin-top: 10px;
    padding: 10px 5px;
    margin: 5px;
}

.banner p:hover, .small-button-white:hover, .small-button-blue:hover  {
    cursor: pointer;
    background: white;
    color: black;
}

.banner {
    margin: 10px auto 0px;
}

li {
    font-size: 18px;
}